@model IEnumerable<Collection>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="nav-item">List of all collections</h2>
        </div>
    </div>
    <br /><br /><br /><br /><br />

<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th width="15%">
            </th>
            <th width="10%">
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Theme
            </th>
            <th width="50" class="text-center">
                Details
            </th>
            <th width="50" class="text-center">
                Edit
            </th>
            <th width="50" class="text-center">
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="15%">
                    <div class="card">
                        @if(@obj.Image != null)
                        {
                            <img class="card-img-top" src="@obj.Image" alt="Card image cap">   
                        }
                        else
                        {
                            <img class="card-img-top" src="https://res.cloudinary.com/dgniduve7/image/upload/v1652648801/default_enjadi.png" alt="Card image cap">   
                        }
                    </div>
                </td>
                <td width="10%">
                    @obj.Name
                </td>
                <td>
                    @obj.Description
                </td>
                <td>
                    @obj.Theme
                </td>
                <td>
                    <div class="w-100 btn-group" role="group">
                        <a asp-controller="Item" asp-action="Index" asp-route-id="@obj.Id" asp-route-UserId="@obj.AppUserId" class="btn btn-primary mx-2">
                            <i class="bi bi-list-ul"></i>
                        </a>
                    </div>
                </td>
                @if (GlobalVariables.ActualUserId == obj.AppUserId || User.IsInRole("admin"))
                {
                    <td>
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Collection" asp-action="Edit" asp-route-id=@obj.Id class="btn btn-primary mx-2">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Collection" asp-action="Del" asp-route-id=@obj.Id class="btn btn-danger mx-2">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </td>
                }
                else
                {
                    <td align="left">
                        <div class="w-100 btn-group" role="group">
                            <a class="btn btn-secondary mx-2">
                                <i class="bi bi-lock"></i>
                            </a>
                        </div>
                    </td>
                    <td align="left">
                        <div class="w-100 btn-group" role="group">
                            <a class="btn btn-secondary mx-2">
                                <i class="bi bi-lock"></i>
                            </a>
                        </div>
                    </td>
                }
            </tr>
          }
    </tbody>
</table>
</div>

