@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="nav-item">
                List of users
            </h2>
        </div>
    </div>
    <br /><br />

<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                User name
            </th>
            <th>
                User email
            </th>
            <th width="50" class="text-center">
                Status
            </th>
            <th width="50" class="text-center">
                Role
            </th>
            <th width="50" class="text-center">
                Details
            </th>
            <th width="50" class="text-center">
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @obj.UserName
                </td>
                <td>
                    @obj.Email
                </td>
                <td align="left">
                    <div class="w-100 btn-group" role="group"> 
                        @if (obj.Status == Status.Active)
                            {
                                <a asp-controller="User" asp-action="Block" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-check-circle"></i>
                                </a>
                            }
                        else
                            {
                                <a asp-controller="User" asp-action="Unblock" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-x-circle"></i>
                                </a>   
                            }
                    </div>
                </td>
                <td align="left">
                    <div class="w-100 btn-group" role="group">
                        @if(obj.Id != GlobalVariables.ActualUserId)
                        {
                            <a asp-controller="User" asp-action="ChangeRole" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                @if (obj.UserRole == "admin") 
                                {
                                    <i class="bi bi-emoji-sunglasses"></i>
                                }
                                else 
                                {
                                    <i class="bi bi-emoji-neutral"></i>
                                }
                            </a>
                        }
                    </div>
                </td>
                <td align="left">
                    <div class="w-100 btn-group" role="group">
                        <a asp-controller="Collection" asp-action="Index" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-search"></i>
                        </a>
                    </div>
                </td>
                <td align="left">
                    @if (obj.UserRole == "user")
                    {
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="User" asp-action="Del" asp-route-id="@obj.Id" class="btn btn-danger mx-2"> 
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
